In [1]:
from IPython.display import display, IFrame, HTML
import os
import pandas as pd

import dash 
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go

from dash.dependencies import Input, Output, State, Event

# turn off web logs
import os
os.environ['FLASK_ENV'] = 'development'

import logging
logger = logging.getLogger('werkzeug') # WSGI - web server gateway interface
logger.setLevel(logging.ERROR)

def show_app(app, port=9998, width=900, height=700):
    host = 'localhost'
    url = f'http://{host}:{port}'
    
    display(HTML(f"<a href='{url}' target='_blank'>Open in a new tab</a>"))
    display(IFrame(url, width=width, height=height))
    
    app.css.config.serve_locally = True
    app.scripts.config.serve_locally = True
    
    return app.run_server(debug=False, host=host, port=port)

df = pd.read_csv('ira.csv')
display(df.head())

df2 = pd.read_csv('pop_area.csv')
display(df2.head())

# app = dash.Dash()
app = dash.Dash(static_folder='assets/')

  province city_muni  year        ira
0     Abra   Bangued  1992   0.000000
1     Abra   Bangued  1993   7.280949
2     Abra   Bangued  1994  10.311497
3     Abra   Bangued  1995  10.311497
4     Abra   Bangued  1996  12.435710

  province  city_muni  population   land_area
0     Abra    Boliney        3573  182.628600
1     Abra      Bucay       17115  104.379392
2     Abra     Bucloc        2501   51.267308
3     Abra  Daguioman        2088   97.269073
4     Abra    Danglas        4192  175.560305

In [19]:
app.callback_map = {} # resets the callbacks

app.layout = html.Div([
    dcc.Slider(
        id='year-slider',
        min=1980,
        max=2016,
        step=1,
        value=2016,
    ),
    html.Div([
        dcc.Graph(id="world-map")
    ], className="col-md-8"),
])

@app.callback(Output('world-map', 'figure'), 
              [Input('year-slider', 'value')],
#               [State('graph-output', 'figure')]
             )
def update_map(year):
    print(year)
    # types: scattermapbox, mapbox
    return {
        "data": [ 
                    { 'type': 'scattermapbox',
                     
                    } for i in range(5)
#                 {
#                     "type": "scattermapbox",
#                     "lat": listpluck("latitude", class_sightings),
#                     "lon": listpluck("longitude", class_sightings),
#                     "text": listpluck("title", class_sightings),
#                     "mode": "markers",
#                     "name": classification,
#                     "marker": {
#                         "size": 3,
#                         "opacity": 1.0
#                     }
#                 }
#                 for classification, class_sightings in classifications.items()
            ],
        "layout": {
            "autosize": True,
            "hovermode": "closest",
            "mapbox": {
                "accesstoken": os.environ.get("MAPBOX_KEY"),
#                 "accesstoken": 'pk.eyJ1IjoiY3ludHdpa2lwIiwiYSI6ImNqbXF6cG1rajA3NHczcXBkZWdpcDl6bXIifQ.up1PqgoqN69t1eukMcUMkg',
                "bearing": 0,
#                 "center": {
#                     "lat": 40,
#                     "lon": -98.5
#                 },
                "pitch": 0,
                "zoom": 0,
                "style": "outdoors" # outdoors, dark
            }
        }
    }

show_app(app)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: development
 * Debug mode: off
2016

In [2]:
countries = ['Philippines', 'Singapore', 'United States']
gdp = [2e3, 3e4, 3e4]
code = ['PHL', 'SGP', 'USA']

df = pd.DataFrame({'COUNTRY': countries, 'GDP': gdp, 'CODE': code})
df.head()

         COUNTRY      GDP CODE
0    Philippines   2000.0  PHL
1      Singapore  30000.0  SGP
2  United States  30000.0  USA

In [3]:
app.callback_map = {} # resets the callbacks

app.layout = html.Div([
    dcc.Slider(
        id='year-slider',
        min=1980,
        max=2016,
        step=1,
        value=2016,
    ),
    html.Div([
        dcc.Graph(id="world-map")
    ], className="col-md-8"),
])

@app.callback(Output('world-map', 'figure'), 
              [Input('year-slider', 'value')],
#               [State('graph-output', 'figure')]
             )
def update_map(year):
    print(year)
    data = [ dict(
        type = 'choropleth',
        locations = df['CODE'],
        z = df['GDP'],
        text = df['COUNTRY'],
        colorscale = [[0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
            [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"]],
        autocolorscale = False,
        reversescale = True,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            tickprefix = '$',
            title = 'GDP per capita<br>US$'),
      ) ]

    layout = dict(
        title = 'GDP per capita<br>Source:\
                <a href="https://www.cia.gov/library/publications/the-world-factbook/fields/2195.html">\
                Worldbank</a>',
        geo = dict(
            showframe = True,
            showcoastlines = False,
            projection = dict(
                type = 'Mercator'
            )
        ),
#         style = 'outdoors'
    )

    fig = dict( data=data, layout=layout )
    return fig

show_app(app)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: development
 * Debug mode: off
2016